@pink: #D94A66;

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  height: 100%;
  margin:0; 
  padding:0;
}

#menu {
    background-color: #D94A66;
    color: white;
    z-index: 1000; 
    position: absolute; 
    width: 97%
}

#submit {
    background-color: #D94A66;
    color: white;
}

#padded {
    margin-top: 60px;
}

.leaflet-left .leaflet-control {
  margin-left: 20px;
}

.leaflet-bottom .leaflet-control {
  margin-bottom: 20px;
}

.dodged {
  mix-blend-mode: 'color-dodge'
}