@pink: #D94A66;

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  height: 100%;
}

#menu {
    background-color: #D94A66;
    color: white;
}

#submit {
    background-color: #D94A66;
    color: white;
}
